<h2> You entered a triangle with these three sides:</h2>
<ul>
  <li><%= @triangle.side1 %> </li>
  <li><%= @triangle.side2 %></li>
  <li><%= @triangle.side3 %></li>
</ul>
<h3> <%= @triangle.triangle_check? %> </h3>
