<h1>Add three integers to create three triangle sides:</h1>

<form action="/check" method="post">
  <div class="form-group">
    <label for="triangleSides">Triangle Side Lengths</label>
    <input id="side1" name="side1" class="form-control" type="text">
    <input id="side2" name="side2" class="form-control" type="text">
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Enter</button>
</form>
